**Roll No.:**

**Name:**

**Class:**

**Batch:**

**Date of Experiment:**

<center> <h1> Exp-5: Apply data pre-processing tasks: to deal with the missing data, to format
the data in correct format and to standardize the data for a given dataset.
Demonstrate the same using Pandas and NumPy in Python.</h1> </center>

<h2> Data Pre-processing </h2>

> - The process of converting or mapping data from the initial "raw" form into another format, to make it ready for further analysis.
> - It is also known as Data Cleaning and Data Wrangling.

<h2> Objectives: </h2>

> 1. Identify, Evaluate and Count missing data
> 2. Deal with missing data 
> 3. Correct the Data Format and 
> 4. Standardize the Data

<h2> Important Shortcut Keys </h2>

> - A -> To **create** cell **above**
> - B -> To **create** Cell **below**
> - D D -> For **deleting** the cell
> - M -> To **markdown** the Cell
> - Y -> For **code** the cell
> - Z -> To **undo** the deleted cell

<h2> 1. Reading the dataset from the URL and adding the related headers </h2>

<h3> 1.1 Import Libraries </h3>

You can find the "Automobile Dataset" from the following link: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>.

In [ ]:
# Import the libraries pandas and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

<h3> 1.2 Import Data </h3>

First, we assign the URL of the dataset to "filename".

Note: This file does not have column headers, which we need to assign.

In [ ]:
filename = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

Then, we create a Python list <b>headers</b> containing name of headers.

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [ ]:
df = pd.read_csv(filename, names = headers)

Use the method <b>head()</b> to display the first five rows of the dataframe.

In [ ]:
df.columns

In [ ]:
# To see what the data set looks like, we'll use the head() method.
df.head()

<h2> 2. Identify, Evaluate and Count missing data </h2>
<p> As we can see, several question marks appeared in the dataframe; those are missing values which may hinder our further analysis.</p>

<h3> Let's define missing values </h3>

- Missing values occur when no data value is stored for a variable(feature) in an observation.
- Could be represented as `?`, `NA`, `0` or just a blank cell.

<h3> 2.1 Identify and convert missing data to "NaN" </h3>

#### Convert "?" to NaN ####
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), <b>Python's default missing value marker for reasons of computational speed and convenience</b>. Here we use the function: 
<pre>dataframe.replace(A, B, inplace = True) to replace A by B. </pre>

In [ ]:
# replace "?" to NaN

df.replace("?", np.nan, inplace = True)  # Question: explian the meaning of "inplace = True"
df.head(5)

<h3> 2.2 Evaluating for missing data</h3>

The missing values (NaN) are converted by default. We use the following functions to identify these missing values. There are two methods to detect missing data:

<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
  </ol>

The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

"True" means the value is a missing value while "False" means the value is not a missing value.

<h3> 2.3 Count missing values in each column</h3>

Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value and "False" means the value is present in the dataset.  In the body of the for loop the method ".value_counts()" counts the number of "True" values.

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Based on the summary above, each column has 205 rows of data and seven of the columns containing missing data:

<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

<h2> 3. Deal with missing data </h2>

- **Check with the data collection source**
- **Replace the missing values**
    - replace it with an average (of similar data points)
    - replace it by frequency
    - replace it based on other functions<br>
- **Drop the missing values**
    - drop the variable (column)
    - drop the data entry (row)
- **Leave it as missing data**

<h3> 3.1 Replace the missing data </h3>

Use `dataframe.replace(missing_data, new_data)`

<h4> 3.1.1 Replace by mean: </h4>

<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<h5> Calculate the mean value for the "normalized-losses" column </h5>

In [ ]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

<h5> Replace "NaN" with mean value in "normalized-losses" column</h5>

In [ ]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

<h5>Calculate the mean value for the "bore" column</h5>

In [ ]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

<h5>Replace "NaN" with the mean value in the "bore" column</h5>

In [ ]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>Based on the example above, replace NaN in "stroke" column with the mean value.</b>

</div>

In [ ]:
#Calculate the mean vaule for "stroke" column
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)

<details><summary>Click here for the solution</summary>

```python
#Calculate the mean vaule for "stroke" column
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)
```

</details>

<h5>Calculate the mean value for the "horsepower" column</h5>

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

<h5>Replace "NaN" with the mean value in the "horsepower" column</h5>

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

<h5>Calculate the mean value for "peak-rpm" column</h5>

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

<h5>Replace "NaN" with the mean value in the "peak-rpm" column</h5>

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

<h4> 3.1.2 Replace by frequency:</h4>

<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [ ]:
df['num-of-doors'].value_counts()

We can see that four doors are the most common type. We can also use the ".idxmax()" method to calculate the most common type automatically:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

The replacement procedure is very similar to what we have seen previously:

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

<h3> 3.2 Drop missing values </h3>

- Use `dataframe.dropna()`
     - `axis= 0` to drop the entire row
     - `axis= 1` to drop the entire column


- Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.


- <b>Drop the whole row:</b>
  <ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict in later experiment. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True) # equivalent to: df = df.dropna(subset= ['price'], axis= 0)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df

<b>Good!</b> Now, we have a dataset with no missing values.

<h2> 4. Correct the Data Format and Standardize the Data </h2>

In this section, we will look at the problem of data with different formats, units and conventions and the pandas methods that help us deal with these issues.

> - Data are generally collected from different places and stored in different formats.
> - Data formatting and standardization: Bringing (transforming) data into a common standard of expression allow users to make meaningful comparision.
> - As a part of data cleaning, formatting ensures the data is consistent and easily understandable.

<center>
    <img src = "fig5a.png" width = "600" height = "300" >
</center>

<b> Steps for Data formating and standardization </b>
> - Correcting the incorrect data types (Data Formatting)
> - Applying calculation to an entire column (Data Standardization)

<h3> 4.1 Correct the Data Format </h3>

<p>One of the important steps in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use:

<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h5>Let's list the data types for each column</h5>

In [ ]:
df.dtypes

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.</p>

<h5>Convert data types to proper format</h5>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

<h5>Let us list the columns after the conversion</h5>

In [ ]:
df.dtypes

<b>Wonderful!</b>

Now we have finally obtained the cleaned dataset with no missing values with all data in its proper format.

<h3> 4.2 Standardize the Data </h3>

<b>Example</b>

<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon)   unit. Assume we are developing an application in a country that accepts the fuel consumption with L/100km standard.</p>
<p>We will need to apply <b>data transformation</b> to transform mpg into L/100km.</p>

<p>The formula for unit conversion is:<p>
L/100km = 235 / mpg
<p>We can do many mathematical operations directly in Pandas.</p>

In [ ]:
df.head()

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"] # This will create a new column "city-L/100km"

# check your transformed data 
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg" and change the name of column to "highway-L/100km".</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute 
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

<details><summary>Click here for the solution</summary>

```python
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

```

</details>

**Conclusion:**